@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.25s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: white;
    background-color: var(--primaryColor);
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}

/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: grid;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 3;
    /* box-shadow: 0px 5px 15px rgba(255, 241, 224, 0.8); */
}

.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 1.5rem;
}

.nav-icon {
    font-size: 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.option-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}

.search-box{
    position: relative;
    background: var(--primaryColor);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box ::selection ,
.search-box-sm ::selection{
    color: black;
    background-color: #3297FD;
}

.search-btn{
    float: right;
    color: #2c1807;
    width: 40px;
    border-radius: 50%;
    background: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 1px 6px;
    position: relative;
    color: black;
    font-size: 16px;
    transition: var(--mainTransition);
    width: 240px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.favorite{
    padding: 0 0.5rem;
    margin: 5px;
}
.favorite :hover ,
.location :hover ,
.cart-btn :hover ,
.option-btn :hover{
    opacity: 0.65;
    transform: var(--mainTransition);
}
.location button{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 0.5rem;
    margin: 5px;

}

/*--------Search Bar for Small Screen--------*/
.search-box-sm {
    position: relative;
    margin:  10px 15px;
    background: var(--mainGrey);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn-sm {
    float: right;
    color: #2c1807;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 2px;
    right: 6px;
}

.search-txt-sm {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 1px 6px;
    position: relative;
    color: black;
    font-size: 16px;
    transition: var(--mainTransition);
    width: 90%;
}

.location-sm button {
    background: var(--mainWhite);
    border: none;
    cursor: pointer;
    padding: 10px 100px 10px 10px;
    margin: 5px 0px 0px;
}
.location-sm {
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.location-sm :hover {
    background-color: var(--mainGrey);
}

@media screen and (min-width: 775px) {
    .search-box-sm ,
    .location-sm ,
    .linebreak{
        display: none;
    }
}
@media screen and (max-width: 774px) {
    .search-box ,
    .location{
    display:none;
}
}
/* --------------- End of Navbar ---------------- */



/* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 60px);
    background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
}

.banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
}

.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}

.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

/* --------------- End of Hero ---------------- */

/* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    height: 36vh;
    width: auto;
    border-radius: 10px;
    transform-style: preserve-3d;
}

.img-container:hover {
    transform: rotateY(-180deg);
}

.bag-btn {
    position: relative;
    left: 50%;
    translate: -50%;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-left: 3px;
    font-size: 12px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    border-radius: 80px;
    justify-content: center;
    background-color: var(--primaryColor);
    font-weight: bold;
    color: #222;
    transition: var(--mainTransition);
    letter-spacing: var(--mainSpacing);
    border-color: rgba(168, 98, 22, 0.8);
    cursor: pointer;

}

.bag-btn:hover {
    color: var(--mainWhite);
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}

.product {
    position: relative;
    padding: 10px 12px;
    border: 2.5px solid #cce7d0;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;

}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
}

.fa-star {
    margin: 10px 0px;
    color: var(--primaryColor);
}

.product-fav {
    position: absolute;
    bottom: 3%;
    right: 8%;
    padding: 7px;
    border-radius: 50%;
    background-color: #cce7d0;
    color: whitesmoke;
    cursor: pointer;
    border: none;
}
.product-fav :hover{
opacity: 0.6;
}
.product-fav :checked{
        color: #bd2727;
}

@media screen and (max-width: 588px) and (min-width: 410px) {
    .img-container {
        height: 42vh;
    }
}

/* ---------------End of Products ---------------- */

/* --------------- Products Hover ---------------- */
.img-container .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 10px;
}

.img-container .product-img-2 {
    background-color: red;
}

.img-container .product-img-1 {
    transform: rotateY(180deg);
}

/* --------------- End of Products Hover ---------------- */

/* --------------- option --------------------- */

.option-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 3;
    visibility: hidden;
}

.option {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(-100%);
}

.showOption {
    transform: translateX(0);
}

.option-items {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    /* position: relative; */
    left: 0%;
    list-style: none;
    padding-top: 50px;
}

.option-items a {
    color: var(--primaryColor);
    text-decoration: none;
    font-style: oblique;
    font-weight: 520;
    transition: 0.25s ease;
    position: relative;
}

.option-items li a.active {
    color: #e48b38;
    text-shadow: 0px 1px 1px #f09d51;
    pointer-events: none;
}

.option-items li a:hover {
    color: #e48b38;
    text-shadow: 0px 1px 1px #f09d51;
}

.option-items li a.active::after {
    content: "";
    width: 50%;
    height: 2.5px;
    background: #e48b38;
    position: absolute;
    bottom: -4px;
    left: 10px;
    pointer-events: none;
}

.option-items li a:hover::after {
    content: "";
    width: 50%;
    height: 2.5px;
    background: #e48b38;
    position: absolute;
    bottom: -4px;
    left: 10px;
}

.option-items li {
    margin-bottom: 50px;
}

.fa-globe {
    color: #f09d51;
    position: relative;

    left: 95%;
    bottom: 90%;
}

.fa-globe:hover {
    color: #e48b38;
}

@media screen and (min-width: 768px) {
    .option {
        width: 30vw;
        min-width: 450px;
    }
}

.close-option {
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 90%;
}

.option h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}

/* --------------- End of option -------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 3;
    visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }

}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}

.item-amount {
    text-align: center;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

/* --------------- Categories ---------------- */

.category h2 {
    margin-left: 85px;
    margin-top: 100px;
    color: var(--mainBlack);
}

.shop-category {
    max-height: 370px;
    display: flex;
    margin: 25px auto 20px;
    max-width: 83vw;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: var(--primaryColor) var(--mainGrey);
    scrollbar-width: thin;
}

.shop-category::-webkit-scrollbar {
    height: 8px;
    background-color: var(--mainGrey);
}

.shop-category::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
}

.shop-category img {
    max-width: 210px;
    max-height: 320px;
    margin-left: 15px;
    border-radius: 20px;

}

.shop-category h4,
a {
    max-width: 210px;
    margin-left: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--mainBlack);

}

.shop-category a:hover {
    opacity: 0.7;
    transition: var(--mainTransition);
    text-decoration: underline;
}

/* @media screen and (min-width: 768px) {
    .shop-category{
        width: ;
    }
} */

/* --------------- End Categories ---------------- */

/* --------------- Banner ---------------- */


#banner {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("images/banner2.jpg") center/cover no-repeat;
    width: 100%;
    height: 40vh;
    min-height: 180px;
}

#banner h2 {
    font-size: 35px;
    line-height: 54px;
    padding: 10px 0;
    color: #222;
}

#banner h2 span {
    color: var(--primaryColor);
}

#banner h4 {
    font-size: 16px;
    color: var(--primaryColor);
}

#banner button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}

#banner button:hover {
    background: transparent;
    color: var(--primaryColor);
}

/* --------------- End of Banner ---------------- */

/* --------------- Small Banner ---------------- */
.section-p1 {
    padding: 70px 0 70px 50px;
}

#sm-banner {
    display: grid;
    justify-content: center;
    width: 90%;
    grid-template-columns: 50% 50%;
    overflow: auto;

}

#sm-banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url("images/quote.webp") center/cover no-repeat;
    max-width: 580px;
    max-height: 80vh;
    padding: 30px;
}

#sm-banner .photo {
    background: url("images/hero-data.jpg") center/cover no-repeat;
    max-width: 580px;
    max-height: 80vh;
}

#sm-banner h2 {
    color: #be6d22;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 50px;
    padding-left: 30%;
    text-align: center;
    justify-content: center;

}

#sm-banner h4 {
    color: #cf7f34;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 15px;
}

#sm-banner p {
    color: #6d441e;
    padding-bottom: 15px;

}

#sm-banner p:hover {
    transition: var(--mainTransition);
    color: #009688;
}

#sm-banner button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    margin-left: 25%;
}

#sm-banner button:hover {
    background: transparent;
    color: var(--primaryColor);
}

@media screen and (max-width: 961px) {
    #sm-banner {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        transform: scale(0.9);
        width: 100%;
    }

    #sm-banner h2 {
        font-size: 30px;
    }

    #sm-banner button {
        padding: 0.75rem 1.5rem;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 900px) {
    #sm-banner {
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        transform: scale(0.85);
        width: 100%;
    }
}

@media screen and (max-width: 765px) {
    #sm-banner {
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        transform: scale(0.75);
        display: flex;
        flex-wrap: wrap;
    }

    #sm-banner .banner-box {
        display: flex;
        width: 100%;
        min-height: 75vh;
        justify-content: center;
    }

    #sm-banner button {
        margin-left: 0;
        align-self: center;
    }

    #sm-banner h2 {
        align-self: center;
        padding-left: 0;
    }

    .section-p1 {
        padding: 20px 0 40px 30px;
    }
}

/* --------------- End of Small Banner ---------------- */

/* --------------- Newsletter ---------------- */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: url(images/newsletter.jpg) center/cover no-repeat;
    background-position: 20% 30%;
    background-color: #e48b38;
    max-height: 250px;
    margin-bottom: 70px;
}

#newsletter h4 {
    color: var(--mainGrey);
    letter-spacing: var(--mainSpacing);
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 20px;

}

#newsletter p {
    font-size: 16px;
    font-weight: 700;
    color: #e5ebf3;
}

#newsletter button {
    /*class normal*/
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: var(--mainTransition);
    /*end of class normal*/
    background-color: var(--primaryColor);
    color: #FFF;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (max-width: 1310px) {
    #newsletter .form {
        position: absolute;
        margin: 20px;
        left: 0px;
        top: 66%;
        width: 40%;
    }

    #newsletter {
        position: relative;
        padding: 120px 100px;
    }

    #newsletter .newtext {
        position: absolute;
        left: 15px;
        top: 25%;
    }

}

@media screen and (max-width: 750px) {
    #newsletter .form {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    #newsletter .form {
        position: absolute;
        margin: 20px;
        left: 0px;
        top: 66%;
        width: 90%;
    }

    #newsletter {
        position: relative;
        padding: 120px 100px;
    }

    #newsletter .newtext {
        left: 15px;
        top: 10%;
    }

}

/* --------------- End of Newsletter ---------------- */


/* --------------- Footer ---------------- */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--mainGrey);
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: start;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    font-size: 16px;
}

footer .install .row img {
    border: 1px solid var(--primaryColor);
    border-radius: 6px;
}

footer .follow i:hover,
footer a:hover {
    color: #be6d22;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* --------------- End of Footer ---------------- */