@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.25s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 3;
    box-shadow: 0px 5px 15px rgba(255, 241, 224, 0.8);
}

.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-icon {
    font-size: 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}
.option-btn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}
/* --------------- End of Navbar ---------------- */



/* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 60px);
    background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
}

.banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
}

.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}

.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

/* --------------- End of Hero ---------------- */

/* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/* commented for making a slider    */
/* .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
} */
.bag-btn {
    position: relative;
    right: -20%;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-left: 3px;
    font-size: 12px;    
    width: 140px;
    height: 30px;
    line-height: 30px;
    border-radius: 80px;
    background-color: var(--primaryColor);
    font-weight: bold;
    color: #222;
    transition: var(--mainTransition);
    letter-spacing: var(--mainSpacing);
    border-color:rgba(168, 98, 22, 0.8);
    cursor: pointer;
}

.bag-btn:hover {
    color: var(--mainWhite);
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}

/* commented for making a slider */
/* .img-container:hover .product-img {
    opacity: 0.5;
} */
.product{
    padding: 10px 12px;
    border: 2.5px solid  #cce7d0;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    
}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
}

.fa-star{
    margin: 10px 0px;
    color: var(--primaryColor);
}

/* ---------------End of Products ---------------- */
/* --------------- option --------------------- */

.option-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 3;
    visibility: hidden;
}

.option {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(-100%);
}

.showOption {
    transform: translateX(0);
}

.option-items {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    /* position: relative; */
    left:  0%;
    list-style: none;
    padding-top: 50px;
}

.option-items a{
    color: var(--primaryColor);
    text-decoration: none;
    font-style: oblique;
    font-weight: 520;
    transition: 0.25s ease;
    position: relative;
}
.option-items li a.active{
    color: #e48b38;
    text-shadow:0px 1px 1px #f09d51;
    pointer-events: none;
}
.option-items li a:hover {
    color: #e48b38;
    text-shadow: 0px 1px 1px #f09d51;
}

.option-items li a.active::after{
    content:"";
    width: 50%;
    height: 2.5px;
    background: #e48b38;
    position: absolute;
    bottom: -4px;
    left: 10px;
    pointer-events: none;
}

.option-items li a:hover::after {
    content: "";
    width: 50%;
    height: 2.5px;
    background: #e48b38;
    position: absolute;
    bottom: -4px;
    left: 10px;
}
.option-items li{
    margin-bottom: 50px;
}

.fa-globe{
    color: #f09d51;
    position: relative;

    left: 95%;
    bottom: -90px;
}
.fa-globe:hover {
    color: #e48b38;
}
@media screen and (min-width: 768px) {
    .option {
        width: 20vw;
        min-width: 350px;
    }
}

.close-option {
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 90%;
}

.option h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}

/* --------------- End of option -------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 3;
    visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}

.item-amount {
    text-align: center;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

/* --------------- IMG slider ---------------- */
.slider-container {
    margin: 10px auto;
    height: 200px;
    position: relative;
}
.slider-container img{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}

.slider-container img.active {
    opacity: 1;
}
.slider-controls{
    /* width: 800px; */
    margin: auto;
    overflow: hidden;
}

.slider-controls .indicators {
    width: 100%;
    float: left;
}

.slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.slider-controls .indicators ul li {
    
    display:inline-block;
    background-color: #F6F6F6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}

.slider-controls .indicators ul li.active {
    background-color: #009688;
    color: #FFF;
}

/* --------------- End IMG slider ---------------- */

/* --------------- Categories ---------------- */

.category h2{
    margin-left: 85px;
    margin-top: 100px;
    color: var(--mainBlack);
}
.shop-category{
    height: 370px;
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 75px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 83vw;
}

.shop-category::-webkit-scrollbar{
    height: 8px;
    background-color: var(--mainGrey);
}
.shop-category::-webkit-scrollbar-thumb{
    background-color: var(--primaryColor);
}
.shop-category img{
    width: 210px;
    height: 320px;
    margin-left: 15px;
    border-radius: 20px;
    
}
.shop-category h4 , a {
    width: 210px;
    margin-left: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--mainBlack);

}

.shop-category a:hover {
    opacity: 0.7;
    transition: var(--mainTransition);
    text-decoration: underline;
}

/* --------------- End Categories ---------------- */

/* --------------- Banner ---------------- */


#banner{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("images/banner2.jpg") center/cover no-repeat;
    width: 100%;
    height: 40vh;
}
#banner h2{
font-size: 35px;
line-height: 54px;
padding: 10px 0;
color:#222;
}

#banner h2 span{
    color: var(--primaryColor);
}

#banner h4{
    font-size: 16px;
    color: var(--primaryColor);
}

#banner button{
padding: 1rem 2rem;
text-transform: uppercase;
letter-spacing: var(--mainSpacing);
font-size: 1rem;
background: var(--primaryColor);
color: var(--mainBlack);
border: 1px solid var(--primaryColor);
transition: var(--mainTransition);
cursor: pointer;
}

#banner button:hover {
    background: transparent;
    color: var(--primaryColor);
}
/* --------------- End of Banner ---------------- */

/* --------------- Small Banner ---------------- */
.section-p1{
padding: 85px 85px;
}

#sm-banner{
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url("images/quote.webp") center/cover no-repeat;
    width: 580px;
    min-width: 580px;
    height: 80vh;
    padding: 30px;
}
#sm-banner .photo{
    background: url("images/hero-data.jpg") center/cover no-repeat;
}

#sm-banner h2 {
    color: #be6d22;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 50px;
    padding-left: 30%;
    text-align: center;
    justify-content: center;
    
}

#sm-banner h4 {
    color: #cf7f34;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 15px;
}
#sm-banner p {
    color: #6d441e;
    padding-bottom: 15px;

}
#sm-banner p:hover {
    transition: var(--mainTransition);
    color: #009688;
}
#sm-banner button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    margin-left: 25%;
}

#sm-banner button:hover {
    background: transparent;
    color: var(--primaryColor);
}
/* --------------- End of Small Banner ---------------- */

/* --------------- Newsletter ---------------- */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: url(images/newsletter.jpg) center/cover no-repeat;
    background-position: 20% 30%;
    background-color: #e48b38;
    height: 200px;
    margin-bottom: 70px;
}

#newsletter h4{
    color: var(--mainGrey);
    letter-spacing: var(--mainSpacing);
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 20px;

}

#newsletter p {
    font-size: 16px;
    font-weight: 700;
    color: #e5ebf3;
}
#newsletter button { 
    /*class normal*/
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: var(--mainTransition);
    /*end of class normal*/
    background-color: var(--primaryColor);
    color: #FFF;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
   
}
#newsletter .form{
    display:flex;
    width: 40%;
}
#newsletter input {
    height:3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* --------------- End of Newsletter ---------------- */


/* --------------- Footer ---------------- */
footer{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between; 
   background-color: var(--mainGrey);

}

footer .col{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 20px;

}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    margin-left: auto;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    font-size: 16px;
}

footer .install .row img{
    border: 1px solid var(--primaryColor);
    border-radius: 6px;
}

footer .follow i:hover ,
footer a:hover{
    color: #be6d22;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* --------------- End of Footer ---------------- */